<!--
<div>

  <a-scene  embedded artoolkit='sourceType: webcam; sourceWidth: 240; sourceHeight: 180;' antialias="true" outline>
    <a-assets>
      <a-asset-item id="wonder" src=""></a-asset-item>
    </a-assets>
    <a-marker preset="hiro">
      <a-entity scale="0.08 0.08 0.08">
        <a-entity mmd='outline: true' afterglow:2.0;>
          <a-entity rotation="-90 0 0" scale="0.1 0.1 0.1" gltf-model="#wonder"></a-entity>
        </a-entity>
      </a-entity>
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>



</div> -->
