.map {
  background-color: grey;
  height: 700px;
  width: 600px;
}

.streetView {
  background-color: grey;
  height: 700px;
  width: 100%;
}


.card {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
